*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.box{
    background-color: rgb(16, 182, 237);
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: 20px;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.box:nth-child(1){
    animation-name: move5;
    animation-delay: 1s;
}
.box:nth-child(2){
    animation-name: move4;
    animation-delay: 3s;
}
.box:nth-child(3){
    animation-name: move3;
    animation-delay: 6s;
}
.box:nth-child(4){
    animation-name: move2;
    animation-delay: 9s;
}
.box:nth-child(5){
    animation-name: move1;
    animation-delay: 12s;
}


@keyframes move5 {
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(200px);
    }

    100%{
        transform: translateX(600px);
    }
}
@keyframes move4 {
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(200px);
    }

    100%{
        transform: translateX(450px);
    }
}
@keyframes move3 {
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(200px);
    }

    100%{
        transform: translateX(300px);
    }
}
@keyframes move2 {
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(200px);
    }

    100%{
        transform: translateX(150px);
    }
}
